.catalogue{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1 , auto);
    align-items: start;
    justify-content: space-around;
}

.searchbar{
    display: flex;
    justify-content: center;
}

.cajaproductos{
    display: flex;
}

.buttons{
    margin-bottom: 10px;
    border-radius: 0;
    margin-top: 10px;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    width: 180px;
    margin-right: 9px;
}
.cataloguesearch{
    margin-left: 320px;
    margin-top: 60px;
    margin-bottom: 250px;
}
